<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <md-content class="md-padding">
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"> About Me </span>
                    
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                A Computer Science graduate with an interest in developing software. Actively seeking to provide knowledge of software development for the mutual betterment of myself as a programmer, and of some greater project I hope to be a part of. Relevant experience in the industry through academia, combined with a natural interest in software projects. More than a programmer.
            </md-card-content>
        </md-card>
    </md-content>
</body>

</html>