<html>

<head>
	
</head>


<body>
<md-content class="md-padding">
        <md-card>
        	
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"> Contact </span>
                    <span class="md-subhead"> Dave Bravo-Ruelas </span>
                    <span class="md-subhead"> Phone: 323-362-0376 </span>
                    <span class="md-subhead"> Email: dbravor@calstatela.edu </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>
</body>

</html>