<!DOCTYPE html>
<html>
<head>
<style>
#inner {
	width:50%;
	margin: 0 auto;
	text-align:center;
}
h3, h5 {
	text-align:center;
}
</style>
	<title>
	</title>
</head>
<body>


<div class="jumbotron" id="inner">
	<h3> CS 4220 Midterm </h3>
	<div>
	<h5> <small> Please register your name and module. <small></h5>
	<form action="#signup"  id="inner">
	<div id="inner">
		<button type="submit" class="btn btn-success" ng-click="addModule()"> SIGN UP </button>
	</div>
	</form>
	</div>
</div>
<hr style="width:50%">


</body>
</html>