<html>

<head>
</head>

<body>
    <div layout="column">
        <div flex>
            <md-content class="md-padding">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"> Project 1 </span>
                            <span class="md-subhead"> It are be my projects. </span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </md-content>
        </div>
        <div flex>
            <md-content class="md-padding">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"> Project 2 </span>
                            <span class="md-subhead"> It are be my projects. </span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </md-content>
        </div>
    </div>
</body>

</html>