<html>

<head>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <md-card layout="center center">
                    <md-card-title>
                        <md-card-title-text layout="row" layout-align="center end">
                            <span class="md-headline"> <strong> Collaborative </strong></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div class="col-sm-6">
                <div flex>
                    <md-content>
                        <md-card>
                            <md-card-header>
                                <md-card-avatar>
                                    <img src="images/icons/att.png" />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title"> <strong>Machine Learning for Signal Quality Monitoring sponsored by AT&amp;T </strong> </span>
                                    <span class="md-subhead"> <strong>Project Lead </strong></span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-title>
                                <md-card-title-text>
                                    RESTful web service for JSON requests sent by accompanying Android mobile application. This project includes the Android mobile application used by antenna technicians across the United States, the RESTful web service, and a Machine Learning algorithm developed in Python.
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <h4><strong> RESTful Web service </strong> </h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Java   <img src="images/icons/java.svg" width="10%" height="10%"/> </h4>
                                        <p class="list-group-item-text"> Web Service is written in Java </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Jersey   <img src="images/icons/jerseytransparent.png" width="5%" height="5%"/> </h4>
                                        <p class="list-group-item-text"> Framework for facilitating REST API calls</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> MongoDB   <img src="images/icons/mongo.svg" width="20%" height="20%"/> </h4>
                                        <p class="list-group-item-text"> Database used to store alarm data</p>
                                    </li>
                                </ul>
                                <hr>
                                <h4><strong> Android Application</strong></h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Android Core (Java)    <img src="images/icons/android3.svg" width="7%" height="7%"/> </h4>
                                        <p class="list-group-item-text"> Application written in native Android </p>
                                    </li>
                                </ul>
                                <hr>
                                <h4> <strong> Machine Learning Algorithm</strong></h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Python   <img src="images/icons/python.svg" width="20%" height="20%"/> </h4>
                                        <p class="list-group-item-text"> Algorithm developed in Python </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Jupyter   <img src="images/icons/jupyter.png" width="10%" height="10%"/> </h4>
                                        <p class="list-group-item-text"> Python script environment </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Pandas/Scikit-learn   <img src="images/icons/pandas.png" width="30%" height="30%"/> <img src="images/icons/scikit.png" width="10%" height="10%"/></h4>
                                        <p class="list-group-item-text"> Libraries for data manipulation and mathematical algorithms </p>
                                    </li>
                                </ul>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </div>
                <div flex>
                    <md-content>
                        <md-card>
                            <md-card-header>
                                <md-card-avatar>
                                    <img src="images/icons/imdb.svg" />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title"> <strong>IMDB Movie Data Analysis </strong> </span>
                                    <span class="md-subhead"> <strong>Project Lead </strong></span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-title>
                                <md-card-title-text>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                </hr>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Python   <img src="images/icons/python.svg" width="20%" height="20%"/> </h4>
                                        <p class="list-group-item-text"> Algorithm developed in Python </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Jupyter   <img src="images/icons/jupyter.png" width="10%" height="10%"/> </h4>
                                        <p class="list-group-item-text"> Python script environment </p>
                                    </li>
                                    <li class="list-group-item">
                                    	<h4 class="list-group-item-heading"> Pandas/Scikit-learn   <img src="images/icons/pandas.png" width="30%" height="30%"/> <img src="images/icons/scikit.png" width="10%" height="10%"/></h4>
                                        <p class="list-group-item-text"> Libraries for data manipulation and mathematical algorithms </p>
                                    </li>
                                </ul>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </div>
            </div>
            <div class="col-sm-6">
                <div flex>
                    <md-content>
                        <md-card>
                            <md-card-header>
                                <md-card-avatar>
                                    <img src="images/icons/java.svg" />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title"> <strong>EatMe: The Randomizer</strong> </span>
                                    <span class="md-subhead"> <strong>Project Member </strong></span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-title>
                                <md-card-title-text>
                                	Android application for randomizing restaurant selection. This project utilizes the Yelp API in conjunction with Google's Location and Maps API for determining eligible restaurants around the phone's current location. Furthermore, this application utilizes the latest techniques in Android for minimizing the battery and memory impact of network calls, including Loaders and manipulation of the internal device storage.
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                </hr>
                                <h4> <strong> Android Application</strong></h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading"> Android Core (Java) <img src="images/icons/android3.svg" width="10%" height="10%"/> </h4>
                                        <p class="list-group-item-text"> Application developed in Java </p>
                                    </li>
                                    <li class="list-group-item">
                                    	<h4 class="list-group-item-heading"> Yelp API  <img src="images/icons/yelp.svg" width="10%" height="10%"/> </h4>
                                        <p class="list-group-item-text"> Network calls made to Yelp API </p>
                                    </li>
                                    <li class="list-group-item">
                                    	<h4 class="list-group-item-heading"> Google Location &amp; Maps<img src="images/icons/maps.svg" width="10%" height="10%" /> </h4>
                                    	<p class="list-group-item-text"> Network calls made to Google's Location and Maps API </p>
                                    </li>
                                </ul>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </div>
                <div flex>
                    <md-content>
                        <md-card>
                            <md-card-header>
                                <md-card-avatar>
                                    <img src="images/icons/donut.svg" />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title"> <strong>ORDR UP </strong> </span>
                                    <span class="md-subhead"> <strong>Project Lead </strong></span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-title>
                                <md-card-title-text>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                </hr>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        TODO
                                    </li>
                                    <li class="list-group-item">
                                    </li>
                                </ul>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</body>

</html>