<!DOCTYPE html>
<html>

<head>
    <title>
        Signup Page
    </title>
    <style>
    header,
    footer {
        text-align: center;
        clear: left;
        clear: right;
    }
    
    article,
    section {
        float: left;
        margin: 30px;
    }
    
    aside {
        float: right;
        margin: 30px;
    }
    </style>
</head>

<body>
    <hr style="width:75%" style="align:'left'">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h4> Add Module 
                    <a ng-click="showAdd = !showAdd" ng-show="showAdd"> <small> Hide Form </small></a>
                    <a ng-click="showAdd = !showAdd" ng-show="!showAdd"> <small> Show Form </small></a>
                </h4>
            </div>


            <form ng-show="showAdd">
                <div class="form-group">
                    <label>Name of Module</label>
                    <input type="text" class="form-control" ng-model="modname">
                </div>
                <div class="form-group">
                    <label> Module Website </label>
                    <div class="input-group">
                        <div class="input-group-addon">http://</div>
                        <input type="text" class="form-control" ng-model="modweb">
                    </div>
                </div>
                <form>
                    <div>
                        <button type="button" class="btn btn-primary" ng-click="addModule()"> Add Module
                        </button>
                    </div>
                </form>
            </form>
            <div class="page-header">
                <h4>Sign-Up
                    <a ng-click="showSignup = !showSignup" ng-show="showSignup"> <small> Hide Form </small></a>
                    <a ng-click="showSignup = !showSignup" ng-show="!showSignup"> <small>Show Form </small></a>
                </h4>
            </div>

            <form ng-submit="addStudents()" ng-show="showSignup">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="stuFName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="stuLName">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" ng-model="stuEmail">
                </div>
                <div class="form-group">
                    <label>Module</label>
                    <select class="form-control" ng-model="modOption" ng-change="opt=modOption">
                        <option ng-repeat="module in modules" ng-if="module.place!=0">{{module.modname }}{{module.place}}</option><option ng-repeat="module in modules" ng-if="module.place==0">{{module.modname}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Sign-Up</button>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h4> Modules &amp; Groups </h4>
            </div>
            <div class="panel panel-primary" ng-repeat="module in modules">
                <div class="panel-heading">
                    <h4 class="panel-title" ng-if="module.place>=0">
                    <a href="http://{{module.modwebsite}}" target="_blank" ng-if="module.place>0"> {{module.modname}} - Group {{module.place}} </a>
                    <a href="http://{{module.modwebsite}}" target="_blank" ng-if="module.place==0">{{module.modname}}</a>
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped" ng-if="module.groups.length>0">
                        <tr>
                            <th> First </th>
                            <th> Last </th>
                            <th> Email </th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="student in module.groups">
                            <td> {{ student.fname}} </td>
                            <td> {{ student.lname}} </td>
                            <td> {{ student.email}} </td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm" ng-click="deleteStudent(student, module)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>

                    <h5 ng-if="module.groups.length==0"> No students have signed up</h5>

                    <form class="text-right">
                        <button class="btn btn-warning" type="button" ng-click="deleteModule(module)">
                            <span class="glyphicon glyphicon-trash"></span> Remove Group
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    </br>

    <footer>
        <h6 id="copyright"><small>&copy; Dave Bravo-Ruelas. All rights reserved. </small> </h6>
    </footer>
</body>

</html>
